
@media(min-width: 768px){
    .home-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    .content-inside{
        grid-template-columns: repeat(2, 1fr);
   }
}
.container-home{
    display: -webkit- flex;
    display: -moz- flex;
    display: -ms- flex;
    display: -o- flex;
    text-align: center;
    max-width: 1440px;
    text-align: left;
    width: 1440px;
}
.d-grid{
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-gap: 20px;
    width: 1440px;
    height: 533px;
    
}
.col-left h1{
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 65px;
    color: #FFFFFF;
    padding-top: 3em;
}
.col-left h3{
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 7px 0px;
    padding: 1em;
}
.col-left a{
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 45px;
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.381818px;
    color: #FFFFFF;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    border: 1px solid #FFFFFF;
    border-radius: 28px;
}
.col-left a:hover{
    transform: scale(1.03);
    color:deepskyblue;
    background-color: #616161;
}
.col-left{
    width: 1440px;
    height: 533px;
    background: linear-gradient(268.4deg, #62B4FF 0.19%, #0080F6 97.81%);
}
.col-left:before{
    position: absolute;
    content: '';
    width: 1440px;
    height: 100px;
    background-color: white;
    transform: skewY(-2deg);
    margin-top: 31.7em;
}
.col-left img{
    float: left;
}
.col-left1 h1{
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 56px;
    color: #2B2B2B;
    mix-blend-mode: normal;
    padding-top: 4em;
    padding-bottom: 1em;    
}
.col-left1 p{
    font-family: Avenir;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    mix-blend-mode: normal;
    text-align: left;
    color: #616161;
    padding-top: 24px;
    padding-bottom: 30px;
    float: left;
    width: 625px;
}
.col-left1 img{
    float: left;
    margin-left: 8em;
    margin-right: 7em;
    width: 30em;
}
