*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.3;
    font-family: Avenir;
}
head.fixed nav{
    height: 68px;
    padding: 15px 0;
}
.container-topnav{
    display: -webkit- flex;
    display: -moz- flex;
    display: -ms- flex;
    display: -o- flex;
    text-align: center;
    max-width: 1440px;
    width: 1440px;
    height: 80px;
}
.nav img{
    left: 162px;
}
.d-flex1{
    display: -webkit- flex;
    display: -moz- flex;
    display: -ms- flex;
    display: -o- flex;
    display: flex;
    justify-content: space-between;
    width: 1440px;
    align-items: center;
}
.d-flex1 img{
    margin-left: 10em;
    margin-top: 1em;
    width: 300px;
    height: 50px;
    margin-bottom: 1em;
}
.d-flex3 img{
    margin-left: 10em;
    margin-top: 3em;
    width: 300px;
    height: 50px;
}
.navigation-bar{
    margin-right: 10em;
}
.navigation-bar ul{
    float: left;
}
.navigation-bar ul li{
    float: left;
    list-style: none;
    position: relative;
}
.navigation-bar ul li a{
    display: block;
    font-family: Avenir;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    padding: 10px 10px;
    color: #616161;
    transition: all .2s ease-in-out;
}
.navigation-bar ul li a i{
    color: #0080F6;
    border-radius: 1px;
}
.navigation-bar ul li ul{
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 2em 2em;
}
.navigation-bar ul li:hover ul{
    text-align: left;
    align-items: center;
    display: block;
    transition: all .4s ease-in-out;
    z-index: 1;
}
.navigation-bar ul li ul li a{
    position: relative;
}
.navigation-bar ul li ul li a:hover{
    color:deepskyblue;
    background-color: #616161;
    border-radius: 2em 2em;
}
.navigation-bar ul li a:hover,
.navigation-bar ul li a.active a{
    color:deepskyblue;
}
.navigation-bar ul li:last-child{
    margin-right: 0;
}
.logo{
    font-weight: 900;
    font-size: 20px;
    color: #262626;
    font-style: italic;
}
@media(mix-width: 991px){
    .navigation-bar{
        display: block !important;
    }
}
@media(mi-width: 990px){
    .navigation-bar{
        text-align: center;
        align-items: center;
        top: 68px;
        width: 100%;
        background-color: #262626;
        padding: 20px 0;
        z-index: 2;
    }
    .navigation-bar ul{
        align-items: center;
        text-align: center;
    }
    .navigation-bar ul li{
        display: block;
    }
    .navigation-bar ul li a{
        color: deepskyblue;
        text-align: center;
        align-items: center;
    }
}